body{
  font-family: Arial, sans-serif;
}
.color-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1{
  margin: 50px;
  font-size: 5rem;
}
.color-disp{
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid hsl(0, 0%, 80%);
  border-radius: 25px;
  margin-bottom: 30px;
  transition:0.25s ease;
}
.color-disp p{
  color: hsl(0, 0%, 20%);
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}
label{
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 15px;
}
input[type="color"]{
  width: 80px;
  height: 50px;
  padding: 5px;
  border-radius: 10px;
  border: 2px solid hsl(0, 0%, 80%)
}